.photo{
    width: 100px;
}
.area{
    margin: 20px;
}
.selectedPage{
    font-weight: bold;
}
.pageButton{
    cursor: pointer;
}
.users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}