.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

.header img {
    width: 80px;
}

.loginBlock {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.avatarBlock {
    display: flex;
    align-items: center;
    column-gap: 8px;
}