.formControl.error input,
.formControl.error textarea
{
    border: 1px solid red;
}
.formControl.error span{
    color: red;
}
.formSummeryError{
    /*border: 1px solid red;*/
    padding: 5px;
    color: red;
}